@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p,
a,
ul,
li,
span,
input,
button,
footer {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px !important;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.w-fit {
    width: fit-content;
}

.text-primary {
    color: #6161ff !important;
}

/* ----------- settings end ----------- */

.logo span:first-child {
    font-weight: 200;
    text-decoration: underline;
}

.logo span:last-child {
    font-weight: bold;
    text-decoration: overline;
}

.dropdown-menu {
    background-color: #222;
}

.dropdown-menu a {
    color: #fff;
}

.dropdown-menu a:focus {
    background-color: #6161ff;
}

.btn-primary,
.bg-primary {
    background-color: #6161ff !important;
}

/* ----------- navbar end ----------- */

.hr {
    width: 25%;
    background-color: #fff;
    height: 10px;
    opacity: 1;
    border-radius: 10px;
    border: 2px solid #6161ff;
    box-shadow: 0 0 10px #6161ff;
}

.home.h1 {
    text-shadow: 2px 2px 10px #6161ff;
}

.home.items li img {
    box-shadow: 0 0 5px #6161ff;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.home.items li img:hover {
    box-shadow: 0 0 40px #6161ff;
}

.home.items li {
    position: relative;
    overflow: hidden;
}

.home.items li .back-card {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    transition: all 200ms ease-in-out;
    transform: translateY(-200px);
    border-radius: 10px;
}

.home.items li .back-card * {
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.home.items li:hover .back-card {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #6161ff44;
    transform: translateY(0);
}

.home.items li:hover .back-card * {
    opacity: 1;
}

.home-heading-gradient {
    background: #fff;
    background: linear-gradient(to right, #CF1512 0%, #6161ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ----------- home page end ----------- */

.grid-container--fill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

main {
    scroll-behavior: smooth;
    overflow-y: scroll;
    width: 100%;
    max-height: 90vh;
    background-image: url('../images/home-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

main.car-a-rental {
    background-image: url('../images/car-a-rental-background.jpg');
    background-position: center center;
}

main.cars {
    background-image: url('../images/cars-background.avif');
    background-position: center center;
}

main.about-us {
    background-image: url('../images/mercedes-background.avif');
    background-position: center center;
}

main.contact-us {
    background-image: url('../images/contact-us-background.avif');
    background-position: center center;
}

/* ----------- cars page end ----------- */

.contacts {
    background-image: url('../images/contact-us-background.webp');
    background-repeat: repeat;
}

.map {
    height: 400px;
}

.contacts-width-item {
    width: calc(1200px / 3 - 40px);
}



@media (max-width: 600px) {
    .contacts-width-item {
        width: 100%;
    }
}

/* ----------- contacts page end ----------- */